img {
  max-width: 150px;
  width: 150px;
  max-height: 150px;
  max-height: 150px;
}

.product-container {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid;
  text-transform: capitalize;
}

.product-info-wrap {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-action-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sold-product {
  opacity: 0.3;
}
